In [20]:
#Description: This is a python program for finance
#             This program will show you how to compute portfolio simple return,
#             get daily returns and volatility etc.

In [13]:
from datetime import datetime
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [14]:
#Get the stock symbols for the portfolio
#FAANG
stockSymbols = ["FB","AMZN","AAPL","NFLX","GOOG"]

In [15]:
#Get the stock starting date
stockStartDate = '2013-01-01'

In [16]:
#Get todays date and format it in the form YYYY-mm-dd
today = datetime.today().strftime('%Y-%m-%d')
print(today)

2020-08-19

In [24]:
#Get the number of assets in the portfolio
numAssets = len(stockSymbols)
print('You have ' + str(numAssets) + ' assets in your portfolio.')

You have 5 assets in your portfolio.

In [31]:
#Create a function to get the stock prices in the portfolio.
def getMyPortfolio(stocks=stockSymbols, start=stockStartDate, end=today, col='Adj Close'):
    data = web.DataReader(stocks, data_source='yahoo', start=start, end=end)[col]
    return data

In [32]:
#Get the stock portfolio Adj Close price
my_stocks = getMyPortfolio()
my_stocks

Symbols             FB         AMZN        AAPL        NFLX         GOOG
Date
2012-12-31   26.620001   250.869995   66.278984   13.227143   352.369232
2013-01-02   28.000000   257.309998   68.378807   13.144286   360.274597
2013-01-03   27.770000   258.480011   67.515701   13.798572   360.483826
2013-01-04   28.760000   259.149994   65.635078   13.711429   367.607117
2013-01-07   29.420000   268.459991   65.249001   14.171429   366.003143
...                ...          ...         ...         ...          ...
2020-08-12  259.890015  3162.239990  452.040009  475.470001  1506.619995
2020-08-13  261.299988  3161.020020  460.040009  481.329987  1518.449951
2020-08-14  261.239990  3148.020020  459.630005  482.679993  1507.729980
2020-08-17  261.160004  3182.409912  458.429993  482.350006  1517.979980
2020-08-18  262.339996  3312.489990  462.250000  491.869995  1558.599976

[1922 rows x 5 columns]